__pycache__/
*.py[cod]
.pytest_cache/

third_party/src/

drivers/**/bin/
drivers/**/obj/
drivers/**/x64/
drivers/**/Win32/
drivers/**/ARM64/

tools/**/bin/
tools/**/obj/
windows-app/**/bin/
windows-app/**/obj/

*.user
*.suo
*.pdb
*.ilk
*.log
captures/
